@using UnlockMe.Common
@model UnlockMe.Web.ViewModels.Post.PostsViewModel
@{
    this.ViewData["Title"] = "PostAddView";
}

<h1>You are wellcome!</h1>
<hr>
<div class="row">
    @foreach (var post in Model.Posts)
    {
        <div class="card col-md-4 p-1" style="width: 18rem;">
            <img src="https://www.maximimages.com/stock-photo/sexy-sun-tanned-exotic-woman-at-the-beach-in-a-swimsuit-with-a-lowered-strap-covering-her-MXI32594.jpg" class="card-img-top" alt="@post.Title">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-user"></i> @User.Identity.Name @post.Title</h5>S
                <p class="card-text"><i class="fas fa-align-justify"></i> @post.Description <i class="fas fa-calendar-alt"></i> @post.CreatedOn <i class="fas fa-clock"></i> </p>
                <a href="#" class="btn btn-primary">Unlock Picture!</a>
            </div>
        </div>
    }
</div>
<hr />
<nav aria-label="Page navigation example">
    <ul class="pagination offset-4">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
<hr>


