@using UnlockMe.Common
@model UnlockMe.Web.ViewModels.Post.PostsViewModel
@{
    this.ViewData["Title"] = "PostAddView";
}

<h1>You are wellcome!</h1>
<hr>
<div class="row">
    @foreach (var post in Model.Posts)
    {
        <div class="card col-md-4 p-1" style="width: 18rem;">
            <img src="@post.ImageUrl" height: 100; width: 200; overflow: hidden; class="card-img-top" alt="@post.Title">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-user"></i> @post.Title </h5>
                <p class="card-text"><i class="fas fa-align-justify"></i> @post.Description </p>
                <p><i class="fas fa-calendar-alt"></i> @post.CreatedOn <i class="fas fa-clock"></i> @post.UserUserName </p>
                <a href="@post.Url" class="btn btn-primary">Check This Picture!</a>
            </div>
        </div>
    }
</div>
<hr />
<nav aria-label="Page navigation example">
    <ul class="pagination offset-4">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
<hr>


